{%include "admin/admin_header.html"%}
{%if q4%}
<!-- update -->
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <table>
            <tr>
                <td align="center" colspan="2">
                    <label for="id_photo">
                        <img src="/{{q4.animal_image}}" width="200px" alt="" id="image-preview">
                        <input type="file" name="image" id="id_photo" style="display: none;">
                    </label>
                </td>
            </tr>
            <tr>
            <tr>
                <th>Division Nmae</th>
                <td>
                    <select name="division_name">
                        {%for i in q5%}
                        <option value="{{i.id}}">{{i.division_name}}</option>
                        {%endfor%}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Animal Name</th>
                <td><input type="text" name="animal_name" value="{{q4.animal_name}}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td><textarea name="description" id="" cols="30" rows="10">{{q4.animal_description}}</textarea></td>
            </tr>
            <tr>
                <th>Safety Tip</th>
                <td><input type="text" name="safety_tips" value="{{q4.safety_tips}}"></td>
            </tr>
            <tr>
                <td><input type="submit" name="update" value="UPDATE"></td>
            </tr>
        </table>
</form>
{%else%}
<!-- ADD -->
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <th>Division Nmae</th>
            <td>
                <select name="division_name">
                    {%for i in q1%}
                    <option value="{{i.id}}">{{i.division_name}}</option>
                    {%endfor%}
                </select>
            </td>
        </tr>
        <tr>
            <th>Animal Name</th>
            <td><input type="text" name="animal_name"></td>
        </tr>
        <tr>
            <th>Animal Image</th>
            <td><input type="file" name="animal_image"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="description" id="" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <th>Safety Tip</th>
            <td><input type="text" name="safety_tips"></td>
        </tr>

        <tr>
            <td><input type="submit" name="submit" value="ADD"></td>
        </tr>
    </table>
</form>
<!-- TABLE -->
<table>
    <tr>
        <th>Forest Division</th>
        <th>Animal Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Safety Tip</th>
    </tr>
    {%for i in q3%}
    <tr>

        <td>{{i.FOREST_DIVISION.division_name}}</td>
        <td>{{i.animal_name}}</td>
        <td><img src="/{{i.animal_image}}" width="100px" height="90px"></td>
        <td>{{i.animal_description}}</td>
        <td>{{i.safety_tips}}</td>

        <td><a href="update_animals/{{i.id}}">UPDATE</a></td>
        <td><a href="delete_animals/{{i.id}}">DELETE</a></td>

    </tr>
    {%endfor%}
</table>
{%endif%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#id_photo').change(function (e) {
            console.log("File selected"); // Debugging statement
            var file = e.target.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(file);
        });
    });
</script>

{%include "footer.html"%}