<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        #maindiv{
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: space-between;
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <div id="maindiv">
        <div>WILD GUARD</div>
        <div><button>LOGIN</button></div>
    </div>
